:root {
  --black-85: rgba(0, 0, 0, 0.85);
  --black-65: rgba(0, 0, 0, 0.65);
  --black-25: rgba(0, 0, 0, 0.25);
  --black-9: rgba(0, 0, 0, 0.09);
  --white: #ffffff;
  --white-85: rgba(255, 255, 255, 0.85);
  --white-25: rgba(255, 255, 255, 0.25);
  --white-65: rgba(255, 255, 255, 0.65);
  --dark-navy-blue: #000c17;
  --navy: #001529;
  --navy-two: #002140;
  --pale-grey: #f0f2f5;
  --clear-blue: #1890ff;
  --clear-blue-65: rgba(24, 144, 255, 0.65);
  --clear-blue-25: rgba(24, 144, 255, 0.25);
  --clear-blue-9: rgba(24, 144, 255, 0.09);
  --strawberry: #f5222d;
  --strawberry-65: rgba(245, 34, 45, 0.65);
  --strawberry-25: rgba(245, 34, 45, 0.25);
  --strawberry-9: rgba(245, 34, 45, 0.09);
  --marigold-65: rgba(255, 191, 0, 0.65);
  --marigold: #ffbf00;
  --marigold-25: rgba(255, 191, 0, 0.25);
  --marigold-9: rgba(255, 191, 0, 0.09);
  --green-apple-65: rgba(82, 196, 26, 0.65);
  --green-apple: #52c41a;
  --green-apple-25: rgba(82, 196, 26, 0.25);
  --green-apple-9: rgba(82, 196, 26, 0.09);
  --off-white: #fafafa;
  --black: #000000;
}

/* Text styles */
.Heading-1-Style {
  font-family: NunitoSans;
  font-size: 38px;
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: left;
  color: rgba(0, 0, 0, 0.65);
  color: var(--black-65);
}
.Heading-2-Style {
  font-family: NunitoSans;
  font-size: 30px;
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.27;
  letter-spacing: normal;
  text-align: left;
  color: rgba(0, 0, 0, 0.65);
  color: var(--black-65);
}
.Heading-3-Style {
  font-family: NunitoSans;
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: rgba(0, 0, 0, 0.65);
  color: var(--black-65);
}
.Display-Style {
  font-family: NunitoSans;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: left;
  color: rgba(0, 0, 0, 0.65);
  color: var(--black-65);
}
.Heading-4-Style {
  font-family: NunitoSans;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: rgba(0, 0, 0, 0.65);
  color: var(--black-65);
}
.Body-Text-Style {
  font-family: NunitoSans;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: left;
  color: rgba(0, 0, 0, 0.65);
  color: var(--black-65);
}
.Caption-Style {
  font-family: NunitoSans;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: rgba(0, 0, 0, 0.65);
  color: var(--black-65);
}

.copyright {
  text-align: center;
  margin-bottom: 16px;
  color: #585858;
}
